
.form-style-5 {
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 fieldset {
	border: none;
}

.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color: #8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

	.form-style-5 input[type="text"]:focus,
	.form-style-5 input[type="date"]:focus,
	.form-style-5 input[type="datetime"]:focus,
	.form-style-5 input[type="email"]:focus,
	.form-style-5 input[type="number"]:focus,
	.form-style-5 input[type="search"]:focus,
	.form-style-5 input[type="time"]:focus,
	.form-style-5 input[type="url"]:focus,
	.form-style-5 textarea:focus,
	.form-style-5 select:focus {
		background: #d2d9dd;
	}

.form-style-5 select {
	-webkit-appearance: menulist-button;
	height: 35px;
}

.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

	.form-style-5 input[type="submit"]:hover,
	.form-style-5 input[type="button"]:hover {
		background: #109177;
	}


th {
	white-space: nowrap !important;
	overflow: hidden !important;
}
td {
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}
.d-dark{
 border: 2px dotted #000;
}
.border-info:hover{
	background: #25383C !important;
	color: #fff !important;
	border: 2px solid #fff !important;
}

@media (max-width: 576px) {
  .register-card {
    height:650px !important;
    margin-left: 30px !important;
    margin-right:30px !important;
  }
}

  @media (min-width: 576px) {
  .register-card {
    height:600px !important;
  }
}

.td-sm-1{
	width:25px !important;
}
.green-shade{
	background: #0B6623 !important;
	color:	silver !important;
}
.event-icon{
	font-size: 16px;
}
.logsTable, .stock-table, .sales-table, .expenses-table,
.events-table,.cashiers-table,.suppliers-table,.customers-table,
.product-categories-table,.damages-table{
	table-layout: fixed !important;
	width: 100% !important;
	white-space: nowrap !important; 
}
.td-sm{
	width: 30px !important;
}
.td-lg{
	width: 50px !important;
}
.td-lg-2{
	width: 70px !important;
}
.td-ml{
	width: 90px !important;
}
.td-md{
	width: 30px !important;
}
.log,.event-title{
	width: 40% !important;
}
.item{
	width: 22% !important;
}
.btn-small{
	height: 5px !important;
}
.card-mail{
	height: 35px !important;
}
.manuals{
	width:96% !important;
}

.mail-title{
	top:-15px !important;
	position: relative !important;
}
.border-none{
	border: none !important;
}

.sms-message{
	height:150px !important;
}

.acc-settings, .custom-family{
	font-family:
	/*'Lucida Sans',*/
	'Lucida Sans Regular',
	'Lucida Grande',
	'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.custom-green{
	color: #324F17 !important
}
.edit-pen{
	border:1px solid #006400 !important;
	padding:10px 10px 10px 10px !important;
	border-radius:100%;
	color:#006400;

}
.btn-link:focus{
	outline: none !important;
	text-decoration: none !important;
	border: none !important;
}
.notification{
	top:-90px !important;
}
.nunito-font{
	font-family: "Nunito", sans-serif !important;
}
.wrapper{
	display:flex;
	justify-content: space-between;
}
.wrapper-div-one{
	float:left
}
.wrapper-div-one{
	float:right
}
.dotted-line{
	border:none;
	border-top:1px dotted grey;
	color:grey;
	height:2px;

}
.btn-status{
	width:100% !important;
	font-size:12px !important;
	border-radius:3px !important;
	height: 2px !important;
}
table > tbody > tr > td{
	text-align: left !important;
	white-space: nowrap !important;

}
.graph-view{
	display: inline-block !important;
}
.online{
	font-size: 10px !important;
}

.receipt-div{
	background-color: #006400 !important;
	padding: 5px 5px 5px 5px !important;
	border-radius: 6px !important;
}
.nav > .nav-item > a{
	font-size: 15px !important;
}
.nav-sub-link{
	color:silver !important;
	text-decoration: none !important;
	font-size: 13.5px !important;
	outline: none !important;
}



.header-nav-item a {
	font-family: monospace !important;
}

.cart{
	color:#fff !important;
}

table > thead > tr > th {
	text-align: left !important;
}

ul > li > a{
	list-style-type: none !important;
	text-decoration: none !important;
}

.nav-item > .nav-sub >  li > a{
	list-style-type: none !important;
	text-decoration: none !important;
}
.pagination > li > a, .pagination > li > span{
	background-color:red
}
.pagination > li.active > a, .pagination > li.active > span{
	background-color:green
}



ul > li > a:hover{
	color: #006400 !important;
	background: none !important;
}
.btn-dark:hover{
	color: #fff !important;
}

td {
	max-width:100%;
	white-space:nowrap;
}

.margin-top-form{
	margin-top: 40px !important;
}
.login-form{
	background-color: #fff !important;
	border-radius: 12px !important;
}
.login-card-form{
	border:1px solid lightgreen;
}
.login-col{
	border-radius: 5px !important;
}


.btn-filter{
	background-color: #fff !important;
	border: 1px solid #fff !important;
}
.btn-filter:hover{
	color: orange !important;
}

.amount{
	font-size:14px !important;
}
.add-link{
	text-decoration: none !important;
}
.edit-btn{
	color: green !important;
}

.trash-btn{
	color: red !important;
}

.login-error{
	margin: 0px auto;
	padding: 10px;
	text-align: left;
	color: #A94442;
	background-color: #F2DEDE;
	width: 100%;
	border-radius: 3px;

}

.btn{
	padding: 10px 10px 10px 10px !important;
}

.btn-common{
	background: #25383C !important;
	border-color: #25383C !important;
	color:#fff !important;
}
.success{
	color: #3c763d;
	margin: 0px auto;
	margin-top: 5px;
	text-align: center;
	padding: 10px;
	background-color: #dff0d8;
	color: #3c763d;
	margin-left: 20px !important;
	margin-right: 150px !important;
	border-radius: 3px;
	border: 1px solid #3c763d;
}

.delete{
	color:red !important;
}
.edit{
	color: green !important;
}
.card-print-btn{
	background: red !important;
}

.body{
	background: #25383C !important;
}

#azSidebarToggle{
	color: #f4f4f4 !important;
}

.login-container{
	margin-top: 50px;
}
.register-card{
	height:600px !important;
	
}
.view-close {
	color: #fff; 
	opacity: 1;
}
.view-close:hover {
	color: red !important; 
}
.reset-card{
	margin-top :150px !important;
	margin-left: 90px;
	margin-right: 90px;
}
.main-color-bg{
	background: #25383C !important;
	border-color:  #25383C !important;
	color:#fff !important;
}
.border-custom-dark{
	border-color:  #25383C !important;
}
.border-custom-dark-1{
	border:1px solid #808080 !important;
}
.co-icon-center{
	width: 70px;
	height: 70px;
	border: 2px dotted #fff;
	padding: 6px 6px 6px 6px !important;
	border-radius: 50%;
}

.text-green-light{
	color: #B0DFE5 !important;
}


.co-icon{
 width: 70px;
 height: 70px;
 border: 2px dotted green;
 padding: 6px 6px 6px 6px !important;
 border-radius: 50%;
}

.co-icon-1{
 width: 60px;
 height: 60px;
 border: 2px dotted green;
 padding: 6px 6px 6px 6px !important;
 border-radius: 50%;
}
.user-profile-icon{
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 2px 2px 2px 2px !important;

}

.overview-item--c4 {
    background-image: -moz-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
    background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
    background-image: -ms-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
}



.user-img{
	background: #fff;
	width: 60px !important;
	height: 60px !important;
	border: 1px dotted #fff;
	padding: 0.5px 0.5px 0.5px 0.5px !important;
	border-radius: 50%;
}
.user-prof{
	padding: 5px 5px 5px 5px !important;
	background: #fff;
	border: 1px solid #000;
	border-radius: 50%;
}
.bolded{
	font-weight: bold;
}
.app-name{
	font-size: 16px !important;
}
.az-logo{
	color: #f4f4f4 !important;
}
.container-main{
	margin-top: 10px;
	margin-left: 20px !important;
}
.az-sidebar{
	background: #253C40 !important;
}
.az-sidebar-body > ul > li > a {
	color: silver !important;
	background: #253C40 !important;
}

.az-sidebar-body > ul > li  > ul > li > a {
	color: silver !important;
}
.az-header{
	background: #253C40 !important;
	color: #fff !important;
}
.fa-comments, .fa-info{
	color:green !important;
	font-size: 18px !important;
}
.typcn{
	color: green !important;
}
.fa-dollar{
	color: green !important;
}

.typcn-messages{
	color: #fff !important;

}
.typcn-bell{
	color:#000 !important;
	background: #f4f4f4;
	border-radius: 50%;
	padding: 3px 3px 3px 3px !important;

}
.text-cap{
	text-transform: capitalize !important;
}
.user-profile-name{
	color: #fff !important;
	
}
.profile-user-acc{
	color: #f4f4f4 !important;
}
.username{
	color:#fff !important;
}
.username:hover{
	text-decoration: none !important;
}
.card-table{
	margin-top: 30px !important;
	margin-left: 40px !important;
	margin-right: 40px !important;
}
